.THIS {
}

.THIS .Table{
    display: table;
    width: 100%;
}
.THIS .Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.THIS .Row{
    display: table-row;
}
.THIS .rows:after {
    content: "";
    display: table;
    clear: both;
}
.THIS .column {
    float: Left;
    width: 25%;
    padding: 10px;
    height: 315px;
}
.THIS .Cell{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}